---
layout: default
---
<header id="navigation">
  <div class="navbar" role="banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% if page.group != 'fooldal' %} <a class="navbar-brand" href="/">
              <h1><img src="{% asset_path logo.png %}" alt="Gombaszögi Nyári Tábor"></h1>
            </a> {% endif %}
            {% if page.group == 'fooldal' %} <a class="navbar-brand showifsmall" href="/">
              <h1><img src="{% asset_path logo.png %}" alt="Gombaszögi Nyári Tábor"></h1>
            </a> {% endif %}
          </div>
        </div>
        <div class="col-sm-9" style="margin-top: 10px;">
          <nav class="navbar-right collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% comment %}<li><a {% if page.group == 'fooldal' %} class="active" {% endif %} href="/">Főoldal</a></li>
              {% endcomment %}
              <li><a {% if page.group == 'blog' %} class="active" {% endif %}href="/blog">Hírek</a></li>
              {% comment %}<li><a {% if page.group == 'poll' %} class="active" {% endif %}href="/poll">Ki lépjen
                  fel?</a></li> {% endcomment %}
              <li><a {% if page.group == 'rolunk' %} class="active" {% endif %}href="/rolunk">Rólunk</a></li>
              <li><a {% if page.group == 'zene' %} class="active" {% endif %}href="/zene">Zene</a></li>
              <li><a {% if page.group == 'program' %} class="active" {% endif %}href="/program">Program</a></li>
              <li><a {% if page.group == 'terkep' %} class="active" {% endif %}href="/terkep">Térkép</a></li>
              <li><a {% if page.group == 'jegyek' %} class="active" {% endif %}href="/jegyek">Jegyek</a></li>
              <li><a {% if page.group == 'info' %} class="active" {% endif %}href="/info">Infó</a></li>
              <li><a {% if page.permalink == '/info/sk/index.html' %} class="active" {% endif %}
                  {% if page.permalink == '/rolunk/sk/index.html' %} class="active" {% endif %}href="/info/sk">[SK]</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!--/#navigation-->

<div class="content" role="main">
  {{ content }}
</div>

<footer id="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">


        <div class="updates-links bg sponsor-images">
          <div class="col-sm-12 col-md-8">
            <h4>Szervezők</h4>
            <img src="{% asset_path logos/szervezok/sm_logo.png %}" alt='Sine Metu Polgári Társulás' />
            <a href="http://www.diakhalozat.sk" target="_blank"><img src="{% asset_path logos/szervezok/dh_logo.png %}"
                alt='Diákhálózat' /></a>
            <a href="http://www.aed.cz" target="_blank"><img src="{% asset_path logos/szervezok/tsz_aed.png %}"
                alt='Ady Endre Diákkör - Prága' /></a>
            <a href="http://www.kafedik.net" target="_blank"><img src="{% asset_path logos/szervezok/tsz_kafedik.png %}"
                alt='Kazinczy Ferenc Diákklub - Brünn' /></a>
            <a href="http://www.jaik.sk" target="_blank"><img src="{% asset_path logos/szervezok/tsz_jaik.png %}"
                alt='József Attila Ifjúsági Klub - Pozsony' /></a>
            <a href="http://www.jugyik.sk" target="_blank"><img src="{% asset_path logos/szervezok/tsz_jugyik.png %}"
                alt='Juhász Gyula Ifjúsági Klub - Nyitra' /></a>
            <img src="{% asset_path logos/szervezok/tsz_kikelet.png %}" alt='KIKELET - Kassa' />
            <img src="{% asset_path logos/szervezok/tsz_jomod.png %}" alt='Jókai Mór Diákkör - Komárom' />
            <img src="{% asset_path logos/szervezok/tsz_mikad.png %}" alt='Mikszáth Kálmán Diákklub - Besztercebánya' />
            <a href="http://kaszasattiladiakkor.hu/" target="_blank"><img
                src="{% asset_path logos/szervezok/tsz_kad.png %}" alt='Kaszás Attila Diákkör - Budapest' /></a>
            <img src="{% asset_path logos/szervezok/tsz_jadik.png %}" alt='Jedlik Ányos Diákkör - Győr' />
          </div>
          <div class="col-sm-12 col-md-4">
            <h4>Kapcsolat</h4>
            <ul class="icon-list">
              <li class="email">info<i class="fa fa-exclamation-circle"></i>gombaszog.sk</li>
              <li class="phone">+421&nbsp;944&nbsp;104&nbsp;494</li>
              <li class="press"><a href="/sajto">Sajtószoba</a></li>
              {% comment %}<li class="about"><a href="http://mediasator.tumblr.com/impresszum">Impresszum</a></li>
              {% endcomment %}
            </ul>
            <div class="social-link">
              <a href="https://facebook.com/gombaszog" target="_blank" class="footer-fb" title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="https://twitter.com/gombaszog" target="_blank" class="footer-tw" title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://youtube.com/gombaszog" target="_blank" class="footer-yt" title="YouTube">
                <i class="fa fa-youtube"></i>
              </a>
              <a href="https://instagram.com/gombaszog" target="_blank" class="footer-ig" title="Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="/feed" target="_blank" class="footer-rss" title="RSS">
                <i class="fa fa-rss-square"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="updates-links bg sponsor-images">
          <div class="col-md-12">
            <h4>Társszervezők</h4>
            <img src="{% asset_path logos/tarsszervezok/guri.png %}" alt='Gurigongo symposium' />
            <img src="{% asset_path logos/tarsszervezok/tandem.png %}" alt='Tandem' />
            <img src="{% asset_path logos/tarsszervezok/b612.png %}" alt='B-612' />
            <img src="{% asset_path logos/tarsszervezok/tokolosh.png %}" alt='Médiasátor - Tokolosh Team' />
            <img src="{% asset_path logos/tarsszervezok/szakkoli.png %}" alt='Pozsonyi Magyar Szakkollégium' />
            <img src="{% asset_path logos/tarsszervezok/csacsi.png %}" alt='Sárga Szamár' />
            <img src="{% asset_path logos/tarsszervezok/fef.png %}" alt='FÉF' />
            <img src="{% asset_path logos/tarsszervezok/korona.png %}" alt='Korona' />
            <img src="{% asset_path logos/tarsszervezok/ujszo.png %}" alt='Új Szó' />
            <img src="{% asset_path logos/tarsszervezok/vandorlass.png %}" alt='Vándorláss' />
            <img src="{% asset_path logos/tarsszervezok/kisebbsegijogvedo.png %}" alt='Kisebbségi Jogvédő Intézet' />
            <img src="{% asset_path logos/tarsszervezok/masik.png %}" alt='Márai Sándor Írói Kör' />
            <img src="{% asset_path logos/tarsszervezok/HHH.png %}" alt='Hagyományok Háza Hálózat' />
            <img src="{% asset_path logos/tarsszervezok/bumm.png %}" alt='bumm.sk' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/erthetoelet.png %}" alt='Érthető Élet Polgári Társulás'
              class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/szoba.png %}" alt='SZOBA' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/patria.png %}" alt='Pátria Rádió' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/forum.png %}" alt='Fórum' />
            <img src="{% asset_path logos/tarsszervezok/trafik.png %}" alt='trafik.sk' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/tarsreflexintezet.png %}" alt='Társadalmi Reflexió intézet'
              class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/promino.png %}" alt='Kisebbségekért Pro Minoritate Alapítvány'
              class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/kue.png %}" alt='Külpolitikai Újságírásért Egyesület'
              class='footer-wide' />
          </div>
        </div>
        <div class="updates-links bg sponsor-images">
          <div class="col-md-12">
            <h4>Támogatók</h4>
            <img src="{% asset_path logos/tamogatok/miniszterelnokseg.png %}"
              alt='Miniszterelnökség - Nemzetpolitikai Államtitkárság' />
            <img src="{% asset_path logos/tamogatok/bga.png %}" alt='Bethlen Gábor Alap' />
            <img src="{% asset_path logos/tamogatok/slovnaft.png %}" alt='Slovnaft' />
            <img src="{% asset_path logos/tamogatok/hun.png %}" alt='Emberi Erőforrások Minisztériuma' />
            <img src="{% asset_path logos/tamogatok/balassi.png %}" alt='Balassi intézet' />
            <img src="{% asset_path logos/tamogatok/regiomax.png %}" alt='Regiomax' />
            <img src="{% asset_path logos/tamogatok/azeninformatikusom.png %}" alt='Az én informatikusom' />
            <img src="{% asset_path logos/tamogatok/kka.png %}" alt='Kult Minor' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/zb.png %}" alt='Zlatý Bažant' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/tcom.png %}" alt='Telekom' />
            <img src="{% asset_path logos/tamogatok/orange.png %}" alt='Orange' />
            <img src="{% asset_path logos/tamogatok/mocs.png %}" alt='Dunamocs' />
            <img src="{% asset_path logos/tamogatok/rakoczi.png %}" alt='Rákóczi Szövetség' />
            <img src="{% asset_path logos/tamogatok/nka.png %}" alt='Nemzeti Kulturális Alap' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/kominvent.png %}" alt='Kominvent' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/otp.png %}" alt='OTP Bank' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/padoc.png %}" alt='Pallas Athéné Domus Concordiae Alapítvány'
              class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/carmeuse.png %}" alt='Carmeuse' />
            <img src="{% asset_path logos/tamogatok/terraincognita.png %}" alt='Terra Incognita' />
            <img src="{% asset_path logos/tamogatok/kassamegye.png %}" alt='Kassa megye' class='footer-wide' />
            <br />
            <p class="highlighted">Jurenka Oszkár, Jurenka Csaba, Mácsadi Tamás, Horkay László, Belák Csaba, Hamelli
              János, Hamelli Marián</p>
          </div>
        </div>
        <div class="updates-links bg sponsor-images">
          <div class="col-md-12">
            <h4>Médiapartnerek</h4>
            <img src="{% asset_path logos/tamogatok/parameter.png %}" alt='Paraméter' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/gomorilap.png %}" alt='Gömörilap' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/vasarnap.png %}" alt='Vasárnap' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/bumm.png %}" alt='bumm.sk' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/televizio.png %}" alt='Magyar interaktív televízió'
              class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/atempo.png %}" alt='atempo.sk' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/ujszo.png %}" alt='Új Szó' />
            <img src="{% asset_path logos/tamogatok/rozsnyovidek.png %}" alt='Rozsnyó Vidék' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/citystar.png %}" alt='CityStar' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/tokolosh.png %}" alt='Médiasátor - Tokolosh Team' />
            <img src="{% asset_path logos/tamogatok/felvidekma.png %}" alt='Felvidék ma' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/figyelo.png %}" alt='Kassai figyelő' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/hireksk.png %}" alt='hirek.sk' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/trafik.png %}" alt='trafik.sk' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/mediaspajz.png %}" alt='Médiaspajz' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/hirnok.png %}" alt='Dunamocsi Hírnök' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/ma7.png %}" alt='ma7' />
            <img src="{% asset_path logos/tamogatok/delta.png %}" alt='Delta' class='footer-wide' />
            <img src="{% asset_path logos/tarsszervezok/patria.png %}" alt='Pátria Rádió' class='footer-wide' />
            <img src="{% asset_path logos/tamogatok/ahojszia.png %}" alt='AhojSzia' />
            <img src="{% asset_path logos/tamogatok/sportolunk.png %}" alt='sportolunk.sk' class='footer-wide' />


          </div>
        </div>


        <div class="footer text-center bg">
          <p>© Gombaszögi Nyári Tábor 2010-2019<br>
            <a href="/altalanos-szerzodesi-feltetelek" title="Általános Szerződési Feltételek">Általános Szerződési
              Feltételek</a> -
            <a href="/altalanos-szerzodesi-feltetelek/sk" title="Všeobecné obchodné podmienky">Všeobecné obchodné
              podmienky</a><br><br>
            Created by <a href="http://mediasator.tumblr.com/" target="_blank">Médiasátor a.k.a. Tokolosh TeaM</a> </p>
        </div>
        <!--/#footer-->
      </div>
    </div>
  </div>
</footer>
<!--/#footer-widget-->
