---
layout: default
---
<header id="navigation">
	<div class="navbar" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse" aria-label="Navigáció">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{% if page.group != 'fooldal' %} <a class="navbar-brand" href="/">
							<h1><img src="{% asset_path logo_2024.png %}" alt="Gombaszögi Nyári Tábor"></h1>
						</a> {% endif %}
						{% if page.group == 'fooldal' %} <a class="navbar-brand showifsmall" href="/">
							<h1><img src="{% asset_path logo_2024.png %}" alt="Gombaszögi Nyári Tábor"></h1>
						</a> {% endif %}
					</div>
				</div>
				<div class="col-sm-9" style="margin-top: 10px;">
					<nav class="navbar-right collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a {% if page.group=='blog' %} class="active" {% endif %}href="/blog">Hírek</a></li>
							{% comment %}<li><a {% if page.group=='poll' %} class="active" {% endif %}href="/poll">Ki lépjen fel?</a></li>{% endcomment %}
							<li><a {% if page.group=='rolunk' %} class="active" {% endif %}href="/rolunk">Rólunk</a></li>
							{% comment %}<li><a {% if page.group=='zene' %} class="active" {% endif %}href="/zene">Zene</a></li>{% endcomment %}
							<li><a {% if page.group=='program' %} class="active" {% endif %}href="/program">Program</a></li>
							<li><a {% if page.group=='terkep' %} class="active" {% endif %}href="/terkep">Térkép</a></li>
							<li><a {% if page.group=='jegyek' %} class="active" {% endif %}href="/jegyek">Jegyek</a></li>
							<li><a {% if page.group=='projektek' %} class="active" {% endif %}href="/projektek">Projektek</a></li>
							<li><a {% if page.group=='info' %} class="active" {% endif %}href="/info">Infó</a></li>
							<li><a {% if page.permalink=='/info/sk/index.html' %} class="active" {% endif %}
									{% if page.permalink=='/rolunk/sk/index.html' %} class="active" {% endif %}href="/info/sk">[SK]</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<!--/#navigation-->
<div class="content" role="main">
	{{ content }}
</div>

<footer id="footer-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">


				<div class="updates-links bg sponsor-images">
					<div class="col-sm-12 col-md-8">
						<h4>Szervezők</h4>
						<img src="{% asset_path logos/szervezok/sm_logo.png %}" alt='Sine Metu Polgári Társulás' />
						<a href="http://www.diakhalozat.sk" target="_blank"><img
								src="{% asset_path logos/szervezok/dh_logo.png %}" alt='Diákhálózat' /></a>
					</div>
					<div class="col-sm-12 col-md-4">
						<h4>Kapcsolat</h4>
						<ul class="icon-list">
							<li class="email">info<i class="fa fa-exclamation-circle"></i>gombaszog.sk</li>
							<li class="press"><a href="/sajto">Sajtószoba</a></li>
							{% comment %}<li class="about"><a
									href="http://mediasator.tumblr.com/impresszum">Impresszum</a></li>
							{% endcomment %}
						</ul>
						<div class="social-link">
							<a href="https://facebook.com/gombaszog" target="_blank" aria-label='Facebook'
								class="footer-fb" title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="https://twitter.com/gombaszog" target="_blank" aria-label='Twitter'
								class="footer-tw" title="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="https://youtube.com/gombaszog" target="_blank" aria-label='Youtube'
								class="footer-yt" title="YouTube">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="https://instagram.com/gombaszog" target="_blank" aria-label='Instagram'
								class="footer-ig" title="Instagram">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="/feed" target="_blank" class="footer-rss" aria-label='RSS csatorna' title="RSS">
								<i class="fa fa-rss-square"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="updates-links bg sponsor-images">
					<div class="col-md-12">
						<h4>Társszervezők</h4>
						<img src="{% asset_path logos/tarsszervezok/tandem.png %}" alt='Tandem' />
						<img src="{% asset_path logos/tarsszervezok/tokolosh.png %}" alt='Médiasátor - Tokolosh Team' />
						<img src="{% asset_path logos/tarsszervezok/mediasator.png %}" alt='Médiasátor' />
						<img src="{% asset_path logos/tarsszervezok/szakkoli.png %}" alt='Pozsonyi Magyar Szakkollégium' />
						<img src="{% asset_path logos/tarsszervezok/csacsi.png %}" alt='Sárga Szamár' />
						<img src="{% asset_path logos/tarsszervezok/korona.png %}" alt='Korona' />
						<img src="{% asset_path logos/tarsszervezok/ujszo.png %}" alt='Új Szó' />
						<img src="{% asset_path logos/tarsszervezok/vandorlass.png %}" alt='Vándorláss' />
						<img src="{% asset_path logos/tarsszervezok/szoba.png %}" alt='SZOBA' />
						<img src="{% asset_path logos/tarsszervezok/grendel.png %}" alt='Grendel sátor' />
						<img src="{% asset_path logos/tarsszervezok/HHH.png %}" alt='Hagyományok Háza Hálózat' />
						<img src="{% asset_path logos/tarsszervezok/firesz.png %}" alt='Fiatal Reformátusok Szövetsége' />
						<img src="{% asset_path logos/tarsszervezok/promino.png %}"	alt='Kisebbségekért Pro Minoritate Alapítvány' />
						<img src="{% asset_path logos/tarsszervezok/parameter.png %}" alt='Paraméter' />
						<img src="{% asset_path logos/tarsszervezok/autentika.png %}" alt='Autentika Művészeti Műhely Alapítvány' />
						<img src="{% asset_path logos/tarsszervezok/rovas.png %}" alt='Rovás' />
						<img src="{% asset_path logos/tarsszervezok/szakc.png %}" alt='SzAKC' />
						<img src="{% asset_path logos/tarsszervezok/mandiner.png %}" alt='Mandiner' />
						<img src="{% asset_path logos/tarsszervezok/kompromisszum.png %}" alt='Kompromisszum' />
						<img src="{% asset_path logos/tarsszervezok/danubia.png %}" alt='Pro Regio Danubia' />
						<img src="{% asset_path logos/tarsszervezok/szogfm.png %}" alt='Szög FM' />
						<img src="{% asset_path logos/tarsszervezok/fefe.png %}" alt='Fenntarthatóbb Felvidékért Mozgalom' />
						<img src="{% asset_path logos/tarsszervezok/szmvsz.png %}" alt='Szlovákiai Magyar Vállalkozók Szövetsége' />
						<img src="{% asset_path logos/tarsszervezok/szmcs.png %}" alt='Szlovákiai Magyar Cserkészszövetség' />
            <img src="{% asset_path logos/tarsszervezok/baross.png %}" alt='Baross Alapítvány' />
            <img src="{% asset_path logos/tarsszervezok/rohonczy.png %}" alt='Rohonczy Gedeon Mentorprogram' />
            <img src="{% asset_path logos/tarsszervezok/ced.png %}" alt='CED' />
            <img src="{% asset_path logos/tarsszervezok/makronom.png %}" alt='Makronóm' />
            <img src="{% asset_path logos/tarsszervezok/reakcio.png %}" alt='Reakció' />
            <img src="{% asset_path logos/mediapartnerek/ma7.png %}" alt='ma7' />
						<br />
						<p class="highlighted">Pajtás</p>
					</div>
				</div>
				<div class="updates-links bg sponsor-images">
					<div class="col-md-12">
						<h4>Támogatók</h4>
						<img src="{% asset_path logos/tamogatok/bga.png %}" alt='Bethlen Gábor Alap' />
						<img src="{% asset_path logos/tamogatok/regiomax.png %}" alt='Regiomax' />
						<img src="{% asset_path logos/tamogatok/pku.png %}" alt='Petőfi Kulturális Ügynökség' />
            <img src="{% asset_path logos/tamogatok/brantner.png %}" alt='Brantner' />
            <img src="{% asset_path logos/tamogatok/cef.png %}" alt='CEF' />
            <img src="{% asset_path logos/tamogatok/nka.png %}" alt='Nemzeti Kulturális Alap' />
            <img src="{% asset_path logos/tamogatok/orange.png %}" alt='Orange' />
						<img src="{% asset_path logos/tamogatok/mtu.png %}" alt='Magyar Turisztikai Ügynökség' />
						<img src="{% asset_path logos/tamogatok/terraincognita.png %}" alt='Terra Incognita' />
						<img src="{% asset_path logos/tamogatok/azeninformatikusom.png %}" alt='Az én informatikusom' />
            <img src="{% asset_path logos/tamogatok/hajogyar.png %}" alt='Hajógyár' />
            <img src="{% asset_path logos/tamogatok/petofi-hu.png %}" alt='Petőfi.hu' />
            <img src="{% asset_path logos/tamogatok/cseperedo.png %}" alt='Cseperedő' />
            <img src="{% asset_path logos/tamogatok/valkyr.png %}" alt='Valkyr' />
            <img src="{% asset_path logos/tamogatok/pnday.png %}" alt='Pandy and partners' />
            <img src="{% asset_path logos/tamogatok/mcc.png %}" alt='MCC' />
            <img src="{% asset_path logos/tamogatok/ujeuropa.png %}" alt='MOL-Új Európa Alapítvány' />
            <img src="{% asset_path logos/tamogatok/kka.png %}" alt='Kult Minor' />

						<br />
						<p class="highlighted">Tárnok Péter, Hamelli János</p>
					</div>
				</div>
				<div class="updates-links bg sponsor-images">
					<div class="col-md-12">
						<h4>Médiapartnerek</h4>
						<img src="{% asset_path logos/mediapartnerek/gomorilap.png %}" alt='Gömörilap' />
						<img src="{% asset_path logos/mediapartnerek/televizio.png %}" alt='Magyar interaktív televízió' />
						<img src="{% asset_path logos/mediapartnerek/atempo.png %}" alt='atempo.sk' />
						<img src="{% asset_path logos/tarsszervezok/ujszo.png %}" alt='Új Szó' />
						<img src="{% asset_path logos/mediapartnerek/felvidekma.png %}" alt='Felvidék ma' />
						<img src="{% asset_path logos/mediapartnerek/figyelo.png %}" alt='Kassai figyelő' />
						<img src="{% asset_path logos/mediapartnerek/hireksk.png %}" alt='hirek.sk' />
						<img src="{% asset_path logos/mediapartnerek/ujno.png %}" alt='Új Nő' />
						<img src="{% asset_path logos/mediapartnerek/napunk.png %}" alt='Napunk' />
						<img src="{% asset_path logos/tarsszervezok/tokolosh.png %}" alt='Médiasátor - Tokolosh Team' />
						<img src="{% asset_path logos/tarsszervezok/mediasator.png %}" alt='Médiasátor' />
						<img src="{% asset_path logos/mediapartnerek/ma7.png %}" alt='ma7' />
						<img src="{% asset_path logos/tarsszervezok/mandiner.png %}" alt='Mandiner' />
						<img src="{% asset_path logos/tarsszervezok/parameter.png %}" alt='Paraméter' />
            <img src="{% asset_path logos/mediapartnerek/rtvs.png %}" alt='rtvs' />
					</div>
				</div>


				<div class="footer text-center bg">
					<p>© Gombaszögi Nyári Tábor 2010-2024<br>
						<a href="/altalanos-szerzodesi-feltetelek" title="Általános Szerződési Feltételek">Általános
							Szerződési
							Feltételek</a> -
						<a href="/altalanos-szerzodesi-feltetelek/sk" title="Všeobecné obchodné podmienky">Všeobecné
							obchodné
							podmienky</a><br><br>
						Created by <a href="https://mediasator.tumblr.com/" target="_blank">Médiasátor a.k.a. Tokolosh
							TeaM</a>
					</p>
				</div>
				<!--/#footer-->
			</div>
		</div>
	</div>
</footer>
<!--/#footer-widget-->
